html, body
{
	margin: 0;
	padding: 0;
}

html
{
	height: 100%;
	min-width: 320px;
}

body
{
	font-family: 'Oswald', sans-serif;
	color: #EBEBEB;
	display: flex;
	background-color: #000000;
	flex-direction: column;
	min-height: 100%;
}

.MyName
{
	background-color: #DADADA;
	color: #3399FF;
	display: block;
	width: auto;
	font-size: 2rem;

	text-shadow: 1px 1px 1px #004D99,
	2px 2px 1px #004080,
	3px 3px 1px #003366,
	4px 4px 1px #00264D,
	5px 5px 1px #001A33;

	border-bottom: 2px solid #777777;

}

.Navigation
{
	background-color: #DADADA;
}


.MainWrapper
{
	flex: 1;
	color: #333;
	padding: .5rem;
	background-color: #DADADA;
}

.Footer
{
	background-color: #000000;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.MyName, .Footer, .SubjectHead
{
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}

.Contents
{
	display: flex;
	flex-direction: column;
}

.SideOne, .SideTwo
{
	display: none;
}

.SubjectHead
{
	font-family: Georgia;
	font-size: 1.25rem;
	font-weight: bold;
	text-shadow: 2.5px 2.5px 2px #CFCFCF;
	display: flex;
}

.Detail
{
	background-color: #FFFFFF;
	font-size: 1rem;
	border: 2px solid #CFCFCF;
	border-radius: 0.5rem;
	transition: all 0.3s;
	margin-bottom: 1.5rem;
	padding: 0.3rem;
}

.Detail:hover
{
	/*Transition when mouse goes over*/

}

@media (min-width: 30rem)
{
	.MainWrapper
	{
		flex-flow: row wrap;
		background-color: #338833;
	}

	.Contents
	{
		flex: 1;
		order: 3;
	}

	.SideOne, .SideTwo
	{
		display: inline;
		width: 150px;
	}

	.SideOne
	{
		order: 2;
	}

	.SideTwo
	{
		order: 4;
	}

}

@media (min-width: 45rem)
{
	.Contents
	{
		flex-flow: wrap;
		background-color: #883333;
	}
}